<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../public/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <title>University Online Campus Recruitment System</title>
        <style>
* {
  box-sizing: border-box;
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
</style>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <div class="container"></div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Banasthali Vidyapith Placement Portal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Placement Archives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                  </div>
                </nav>
            </div>
        </header>

        <!-- Main Body starts here -->

        <div class="container-fluid px-0">
        <div class="row align-items-center">


    <div class="col-lg-6 padding-0">
      <div class="container-fluid">

      <div>
      <h1>About Us</h1>
      <div class="col-lg-6 padding-0">
          <div class="container-fluid">
          <img class="img-fluid" src="../public/images/2.jpg" style="height: 200px">
          </div>
      </div>
    </div>
  <p style="font-family:verdana">Banasthali Vidyapith is a fully residential women's higher education institute which offers an integrated system extending from the primary to the Ph.D. level.
<br />
It was on October 6, 1935 that Smt. Ratan Shastri and Pandit Hiralal Shastri founded Banasthali to fill up the vacuum caused by the sudden death of their highly talented and promising daughter Shantabai. They had high expectations that she would work for women's cause when she would grow up. But  destiny  ordained  otherwise.
Thus, Banasthali  owes its existence neither to the zeal of an educationist, nor to that of a social reformer. It is also not the creation of a Philanthropist's purse. It has arisen like the fabled phoenix from the ashes of a blossoming flower Shantabai.
<br />
Banasthali is one of the five higher education institute in India meant exclusively for Women. Over these seventy five years Banasthali has developed into a National Centre for women's education. Banasthali's educational programme aims at an all-round development of the student's personality. To achieve its objective of 'synthesis of spiritual values and scientific achievements of the East and the West', it has evolved Five-fold Educational Programme (Panchmukhi Shiksha) comprising of  the following aspects :<br /> (i) Physical<br />(ii) Practical<br /> (iii) Aesthetic<br /> (iv) Moral <br /> (v) Intellectual.
.</p>
    </div>
    </div>
    <div class="col-lg-6 padding-0">
        <div class="container-fluid">
        <img class="img-fluid" src="../public/images/1.jpg" style="height: 500px">
    </div>
  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Body Ends Here -->

    <!-- Footer -->

        <footer class="page-footer font-small bg-dark text-light text-center pt-4">

          <!-- Footer Elements -->
          <div class="container" style="padding-bottom: 25px">
            <h2>Get in touch</h2><br>
            <!-- Social buttons -->
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/banasthali.org/"><i class="bi bi-facebook text-light"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/school/banasthali-vidyapith/?originalSubdomain=in"><i class="bi bi-linkedin text-light"></i></a>
              </li>
              <li class="list-inline-item">
                 <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=xyz@gmail.com"><i class="bi bi-envelope-fill text-light"></i></a>
              </li>
            </ul>
            <!-- Social buttons -->

          </div>
          <!-- Footer Elements -->

        </footer>
        <!-- Footer -->

         <!--===== BOOTSTRAP JS =====-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!--===== MAIN JS =====-->
        <script src="../public/js/main.js"></script>


    </body>
</html>
