<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../public/css/style.css"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap" rel="stylesheet">
        <title>University Online Campus Recruitment System</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <div class="container"></div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Banasthali Vidyapith Placement Portal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Placement Archives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                  </div>
                </nav>
            </div>
        </header>

        <!-- Archives starts here -->
    <h1 class="text-center" id="heading">Placement Archives</h1>
    <div class="container-fluid" style="padding-left: 200px;">
        <div class="row">            
            <div class="col" style="font-family: 'Lora', serif; ">
                <div class="card mb-4" style="width: 50rem; background-color:#f0f2f5; ">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="card-img-top" src="../public/images/GS-logo.png" alt="Card image cap" style="object-fit:cover;">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title" style="font-weight: 600;">Goldman Sachs Interview Experience | Coding Round</h5>
                                <p class="card-text" style="color:#58636e;">Coding Round had 4 sections and time duration was 2 hours: Section 1: 2 coding questions. Question 1 was to find lexographically smallest sub-sequence of…<span><a href="#">Read more</a></span></p>
                                <a href="#" class="btn" style="background-color: #343a40; color:white">View Article</a>
                            </div>
                        </div>                         
                    </div>
                </div>
                <div class="card mb-4" style="width: 50rem; background-color: #f0f2f5;">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="card-img-top" src="../public/images/flipkart.png" alt="Card image cap" style="object-fit:cover;">
                        </div>
                        <div class="col">
                            <div class="card-body">
                            <h5 class="card-title" style="font-weight: 600;">Flipkart Internship Interview Experience</h5>
                            <p class="card-text" style="color:#58636e; ">Flipkart visited our campus virtually for placements in January 2021. Students of CS and circuit branches were eligible. Recruitment process consisted of 4 rounds in… <span><a href="#">Read more</a></span></p>
                            <a href="#" class="btn" style="background-color: #343a40; color:white">View Article</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4" style="width: 50rem; background-color:#f0f2f5;">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="card-img-top" src="../public/images/McKC.jpg" alt="Card image cap" style="object-fit:cover;">
                        </div>
                        <div class="col">
                            <div class="card-body">                            
                            <h5 class="card-title" style=" font-weight: 600;">Mckinsey Interview Experience for Full Time</h5>
                            <p class="card-text" style="color:#58636e;">First-round (Online round): Given a linked list where each node has binary numbers. Convert it to decimal form. And return number Vanilla JS: List View…<span><a href="#">Read more</a></span></p>
                            <a href="#" class="btn" style="background-color: #343a40; color:white">View Article</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 25rem; background-color:#b3bdc7 ;">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Lora', serif; font-weight: 700; font-size:xx-large; ">Add your Experience</h5>
                      <form>
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="e.g. Kriti Verma">
                      </div>
                      <div class="form-group">
                        <label for="class">Class</label>
                        <input type="text" class="form-control" id="class" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="company_name">Name of the Company</label>
                        <input type="text" class="form-control" id="company_name" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="experience">Experience</label>
                        <textarea id="experience" class="form-control" style="height: 200px;" placeholder="Write your experience here..."></textarea>
                      </div>
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Archives Ends Here -->

    <!-- Footer -->
    
        <footer class="page-footer font-small bg-dark text-light text-center pt-4">

          <!-- Footer Elements -->
          <div class="container" style="padding-bottom: 25px">
            <h2>Get in touch</h2><br>
            <!-- Social buttons -->
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/banasthali.org/"><i class="bi bi-facebook text-light"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/school/banasthali-vidyapith/?originalSubdomain=in"><i class="bi bi-linkedin text-light"></i></a>
              </li>
              <li class="list-inline-item">
                 <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=xyz@gmail.com"><i class="bi bi-envelope-fill text-light"></i></a>
              </li>
            </ul>
            <!-- Social buttons -->

          </div>
          <!-- Footer Elements -->

        </footer>
        <!-- Footer -->

         <!--===== BOOTSTRAP JS =====-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!--===== MAIN JS =====-->
        <script src="../public/js/main.js"></script>
       

    </body>
</html>